.image-preview{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0 10px;
}

.image-preview img{
    border-radius: 2px;
}

.loaderContainer{
    background-color: rgba(255, 255, 255, 0.174);
    backdrop-filter: blur(3px);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HTML: <div class="loader"></div> */
.loader {
    display: inline-flex;
    gap: 10px;
}

.loader:before,
.loader:after {
    content: "";
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        linear-gradient(#222 0 0) top/100% 40% no-repeat,
        radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
    animation: l7 1.5s infinite alternate ease-in;
}

@keyframes l7 {

    0%,
    70% {
        background-size: 100% 40%, 8px 8px
    }

    85% {
        background-size: 100% 120%, 8px 8px
    }

    100% {
        background-size: 100% 40%, 8px 8px
    }
}


.react-select-container, .react-select__control, .react-select__indicators, .react-select__single-value{
    color:var(--cui-body-color) !important ;
    background-color: var(--cui-body-bg) !important;
}

.react-select__input-container{
        color: var(--cui-body-color) !important;
}

.react-select__menu-list{
    background-color: var(--cui-body-bg) !important;
    border: 1px solid rgba(190, 190, 190, 0.356);
}

.react-select__option:hover{
    color: #212631 !important;
}



.input-suggestable{
    position: relative;
}

.input-suggestions{
    /* display: none; */
    padding: 0px;
    position: absolute;
    width: 90%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.007);
    border-radius: 3px;
    z-index: 1000;
}

.input-suggestions li {
    list-style-type: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
}

.input-suggestions li:hover {
    color: var(--cui-body-bg);
    background-color: var(--cui-body-color);
}